@font-face {
  font-family: "open gotham";
  src: url("site/fonts/gotham/GOTHMLIG.TTF") format("truetype");
}

body {
  background-color: rgb(20,20,20);
  margin: 0;
  font-family: 'open gotham', 'open sans-serif', sans-serif;
  overflow: hidden; /* Prevents scrolling */
}

.normal {
  background-color: rgb(78, 130, 101);
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  color: rgb(206, 220, 242);
  border: none;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  width: 50px;
  height: 50px;
}

.normal:hover {
  background-color: rgb(98, 150, 121);
  color: rgb(206, 220, 242);
}

.btext {
  color: rgb(237, 245, 225);
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;    /* Hides overflow text */
}

.stext {
  color: rgb(237, 245, 225);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;    /* Hides overflow text */
}

.buttonxd {
  color: rgb(237, 245, 225);
  background: rgb(15,15,15);
  border: none;
  font-size: 20px;
  width: 100px;
  height: 30px;
  position: absolute;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  transition-duration: 0.5s;
  white-space: nowrap; /* Prevents text from wrapping */
}

.buttonxd:hover {
  background-color: rgb(237, 245, 225);
  color: rgb(15,15,15);
}

img {
  width: 100px;
  height: 80px;
  position: absolute;
  bottom: 60px;

}

.buttonbox {
  width: 100%;
  background-color: rgb(15,15,15);
  height: 30px;
  position: absolute;
  text-align: center;
}

.boxxed {
  background-color: rgb(27, 25, 28);
  height: 300px;
  width: 100%;
  padding: 20px;
  position: absolute;
  top: 29px;
  left: 50%;
  transform: translateX(-50%);
}
